<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}


{% block contenido %}
<html>


<head> 
    <br><br>
    <h1 style="font-family: Comic Sans MS; font-weight:bold; font-size: 50px; color: #03a5ab; text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68; "><center>Perros</center><h1>
    <br><br>
</head>

<div class="fotos">
    <img src="{% static 'app/img/perro3.png' %}" alt="perro" style="width:33% ;"  />
    <img src="{% static 'app/img/perro5.png' %}" alt="perrodos" style="width:30% ;"/>
    <img src="{% static 'app/img/perro4.png' %}" alt="perrotres" style="width:33% ;"/>
</div>
<body>
    
    <br>
    <h2>¿Por qué tener un perro de mascota?<h2>
    <br>
    <h4>Reduce la presión arterial alta, los niveles de colesterol, te hace más sociable, mejora el estado de ánimo y al contrario de los gatos es muy dependiente a ti.<h4>
    <br>
    <h2>¿Como cuidar un perro?</h2>
    <br>
    <h4>-Cuidar a un perro implica compromiso y atención. En general, es importante procurar una alimentación saludable para ellos, así como favorecer su actividad física y estimular su socialización. También es fundamental ofrecerle cuidados y revisiones veterinarias para controlar su estado de salud y mejorar su calidad de vida.
<br><br>
      -Si se trata de un cachorro recién nacido, los cuidados del perro serán continuos, incluyendo el amamantamiento con leche materna o sustitutivo, y el destete, que se inicia a partir de las cuatro semanas de vida y de forma progresiva.
      <br><br>
      -Mientras que, si se trata de un perro de edad más avanzada que adoptamos en casa, hay algunas indicaciones a tener en cuenta, como darle mucho cariño, seguridad y comprensión. Y en este caso, lo mejor es sacarle en paseos cortos y frecuentes para que se vaya habituando poco a poco a su nueva rutina fuera de la protectora o refugio.
      <br><br>
      -Los perros son muy curiosos por lo que debes quitar todo lo peligroso de su alcance.
      <br><br>
      -Al igual que todos los animales se recomienda hablar con sus veterinarios para que les indiquen cuál es la comida indicada para su mascota, recordar que todos los perros son distintos.
      <br><br>
      -Como ya lo indicamos los perros son animales muy curiosos, por esto pueden perderse, se les recomienda colocarle microchips o chapa de identificación.
      <br><br>
      -Debes llevarlo al veterinario mínimo una vez al año, asegurarse que está sano, tener sus antiparasitos al día y se recomienda esterilizar, ya que evita enfermedades y evita tener cachorros en la calle.
      <br><br>
      -Llevarlo a pasear es uno de las cosas más importante, ya que aporta al perro, la energía que puede llegar a tener es demasiada, por lo que un buen paseo lo dejaría agotado, aparte de ayudar a su salud, recordar llevar agua para hidratarlo.
      <br><br>
      -Una buena recomendación es que castres a tu perro, ya que, así evitas enfermedades que tengan que ver con sus órganos sexuales, disminuyes su agresividad y están más tranquilos.
      <br><br>
      -Cada cuánto tiempo bañar a un perro dependerá de cada animal, de su raza, del estado de su salud, si suele tener mal olor, pero lo más recomendable es no bañarle más de una vez al mes. Incluso con bañarlo solamente 2 veces al año sería suficiente en algunos casos.
    </h4>

</body>
<style>
.button {
     
  border: none;
  color: white;
  padding: 16px 2px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  margin: 4px 100px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 80%;
}
.button1 {
  background-color: #0777c7d6; 
  color: black; 
  cursor: pointer;
  border: 2px solid #0777c7d6;
}
.button1:hover {
  background-color: #EDF2F7;
  color: black;
}

</style>
<div class="button">
  <center><a href="{% url 'perroquiz' %}"><button class="button button1"  >Iniciar cuestionario para saber si eres apto de cuidar un perro.</button></a></center>
</div>
{% endblock %}