<!DOCTYPE html>
{% load static %}
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HowTo-Pet</title>
        <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'app/css/estilos.css' %}" type="text/css">
        
    </head>
    
    <body>
    
        
        <header id="header">
            
            <div class="contenedor_logo">
                <img  class="logo"  src="{% static 'app/img/logo_trans.png' %}" alt="logo">
            </div>
    
            <div>
                
                <nav id="nav">
                    <ul>
                        <li>
                            <a href="{% url 'home' %}"> Inicio </a></li>
                        <li>
                            <a href="{% url 'mascota2pag' %}"> Atras </a></li>
                        <li>
                            <a href="{% url 'galeria' %}">usuario</a></li>
    
                        {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>  
                        <li>
                            <a href="#">{{ user.username}} </a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        
                        {% endif %}
                
                    </ul>
                </nav>
    
            </div>
    
        </header>
    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuestionario</title>
    <link rel="stylesheet" href="{% static 'app/css/estiloquiz.css' %}">
</head>
<br>
<br>
<body>
    <div>
        <center><h1 style="font-family: cursive ; font-weight:bold; font-size: 50px; color: #05a1a6; text-shadow: -1px 0 #012628, 0 1px #012628, 1px 0 #012628, 0 -1px #012628, -2px 2px 0 #012628, 2px 2px 0 #012628, 1px 1px #012628, 2px 2px #012628, 3px 3px #012628, 4px 4px #012628; ">TORTUGAS</h1></center>
        <center><p>¿Podras cuidar a una tortuga ?</p></center>
        <br>


    </div>


    <div class="container">
        <center><h3>Preguntas de conocimiento.</h3></center>
            <section id="p0">
                <h3>1 - ¿Cual es el alimento ideal para las tortugas?</h3>
                <label>
                    <input type="radio" value="1" name="p0" onclick="respuestator(0,this)"> Carne </input>
                </label>
                <label>
                    <input type="radio" value="2" name="p0"onclick="respuestator(0,this)"> Pienso extrusionado para tortugas</input>
                </label>
                <label>
                    <input type="radio" value="3" name="p0"onclick="respuestator(0,this)"> Pienso extrusionado para canarios</input>
                </label>
                <label>
                    <input type="radio" value="4" name="p0" onclick="respuestator(0,this)"> Todas las anteriores</input>
                </label>
            </section>
            <section id="p1">
                <h3>2 - ¿Que es lo minimo que debe tener en su habitad una tortuga de agua?</h3>
                <label>
                    <input type="radio" value="1" name="p1" onclick="respuestator(1,this)"> Acuario en el que pueda nadar</input>
                </label>
                <label>
                    <input type="radio" value="2" name="p1" onclick="respuestator(1,this)"> Agua del acuario a temperatura ambiente</input>
                </label>
                <label>
                    <input type="radio" value="3" name="p1" onclick="respuestator(1,this)"> Lugar seco en el cual descansar</input>
                </label>
                <label>
                    <input type="radio" value="4" name="p1" onclick="respuestator(1,this)"> Todas las anteriores</input>
                </label>
            </section>
            <section id="p2">
                <h3>3 - Las tortugas pueden regular su temperatura solas, esto es:</h3>
                <label>
                    <input type="radio" value="1" name="p2" onclick="respuestator(2,this)"> Verdadero</input>
                </label>
                <label>
                    <input type="radio" value="2" name="p2" onclick="respuestator(2,this)"> Falso</input>
                </label>        
            </section>
            <section id="p3">
                <h3>4 - ¿De que sirve el calcio a una tortuga?</h3>
                <label>
                    <input type="radio" value="1" name="p3" onclick="respuestator(3,this)"> Ayudar a regular la temperatura </input>
                </label>
                <label>
                    <input type="radio" value="2" name="p3" onclick="respuestator(3,this)"> Mantener el caparazon en buen estado</input>
                </label>
                <label>
                    <input type="radio" value="3" name="p3" onclick="respuestator(3,this)"> No sirve para nada</input>
                </label>
            </section>
            <section id="p4">
                <h3>5 - La luz solar es necesaria para las tortugas, esto es:</h3>
                <label>
                    <input type="radio" value="1" name="p4" onclick="respuestator(4,this)"> Verdadero </input>
                </label>
                <label>
                    <input type="radio" value="2" name="p4" onclick="respuestator(4,this)"> Falso</input>
                </label>
            </section>
        <button onclick="corregirtor()" >CORREGIR</button>
        <H2>Cantidad acertadas: <span id="resultadotor"></span> </H2>
        <h4>Conclusion: <span id="conclusiontor"></span> </H4>
    </div>
    <script  src="{% static 'app/js/scripttortuga.js' %}"> </script>
</body>
</html>